<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="mystyle.css">
  </head>
  <body>
      <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </header>
    <div class="hero">
      <div class="title">
    <h1>Web Design Services: Get a Custom Site Optimized for SEO and Mobile</h1>
    <p>Launch a website that captures your brand, improves your conversion rates, and maximizes your revenue with WebFX, a leading web design agency providing web design services to businesses worldwide.</p>
    <button class="btn"> Let's get started </button>
  </div>
  <div class="image"> 
    <img src="https://desisms.in/wp-content/uploads/2021/04/Web-Development-Company-in-Nagpur.jpg"/>
  </div>
    </div>
  </body>
</html>
