<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our Services</title>
    <link rel="stylesheet" href="mystyle.css">
</head>

<body>
    <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
    <div class="service_info">

    <h1>Services</h1>
    <div class="list">
        <div class="list_img"> 
            <h3>Portfolio services</h3>
            <img src="https://www.cbre.us/-/media/cbre/countryunitedstates/media/images/portfolio-services/overview/industrial_608x436_rb5.png?mh=0&w=608&mw=0&h=436&la=en&hash=286C82E786286B629A579A28486E98A5"/>
        </div>
        <div class="list_img"> 
            <h3>Industry and Business Services </h3>
            <img src="https://images.squarespace-cdn.com/content/v1/581a3287197aea1a94d4bc44/1565200284032-OROFGKEXW5GLI35TYUG7/ID-Banner2.jpg?format=1500w"/>
        </div>
        <div class="list_img"> 
            <h3>Additional  services</h3>
            <img src="https://99designs-start-attachments.imgix.net/alchemy-pictures/2016%2F02%2F18%2F01%2F27%2F38%2F79e4ff5e-7c93-46e1-b078-87afd7e7db25%2F272403_vania22_other-book-or-magazine-design.png?auto=format&ch=Width%2CDPR&crop=false&fm=png&w=450&h=450"/>
         </div>
    </div>
    </div>
</body>

</html>